@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&family=Poppins&display=swap');



$font_headings: 'Playfair Display', serif;
$font_paragraphs: 'EB Garamond', serif;
$font_buttons: 'EB Garamond', serif;
$font_misc: 'Poppins', sans-serif;

$lightest: #FFFFFF;
$light: #DFE0E1;
$bright: #A8A6A1;
$dark: #7C7C7E;
$darkest: #515152;

$body-bg: $darkest;
$body-color: $lightest;

//@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';

